@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Nunito", sans-serif;
}
h1 {
	font-size: 2em !important;
}
h2 {
	font-size: 1.5em !important;
}
h3 {
	font-size: 1.17em !important;
}
h5 {
	font-size: 0.83em !important;
}
h6 {
	font-size: 0.75em !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bolder !important;
}

button,
svg {
	transition: all 0.4s !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
	border: 6px solid rgba(144, 144, 144, 0.137);
}
::-webkit-scrollbar-track-piece {
	background: rgba(245, 251, 254, 0.916);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(rgba(56, 168, 228, 0.144), rgb(56 169 228));
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(rgba(56, 168, 228, 0.646), rgb(28, 145, 208));
}

.right__border__line {
	border-right: 1px solid rgba(128, 128, 128, 0.192);
}

.bottom__border__line {
	border-bottom: 1px solid rgba(128, 128, 128, 0.192);
}
.ql-container {
	min-height: 150px;
}
.ask_question .ql-container {
	min-height: 250px;
}
#__react-alert__ div div div {
	text-transform: initial !important;
	font-size: larger !important;
}

pre {
	background-color: rgba(0, 0, 0, 0.693) !important;
	color: whitesmoke;
	padding: 1rem 1.5rem;
	border-radius: 10px;
	margin: 1.5rem 0;
	width: min-content;
}
